[submodule "l10n_ve"]
	path = l10n_ve
	url = git@github.com:ingeint/l10n_ve.git
	branch = 15.0
[submodule "ingeint_pharmacy"]
	path = ingeint_pharmacy
	url = git@github.com:ingeint/ingeint_pharmacy.git
	branch = master
[submodule "san_valentin_custom"]
	path = san_valentin_custom
	url = git@github.com:ingeint/san_valentin_custom.git
	branch = master
[submodule "ingeint_multi_currency"]
	path = ingeint_multi_currency
	url = git@github.com:ingeint/ingeint_multi_currency.git
	branch = master
[submodule "ingeint_sync_rate"]
	path = ingeint_sync_rate
	url = git@github.com:ingeint/ingeint_sync_rate.git
	branch = master
[submodule "purchase-workflow"]
	path = purchase-workflow
	url = git@github.com:ingeint/purchase-workflow.git
	branch = 15.0
